
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2>Notatkowiec</h2>


    <p>Aplikacja dla zapominalskich</p>

    <a asp-action="AddNote" class="btn btn-primary">Dodaj nową notatkę</a>
    <a asp-action="List" class="btn btn-info">Pokaż wszystkie notatki</a>
</div>